:root {
  --primary-color: rgb(20, 80, 112);
  --secondary-color: white;
  --tertiary-color: rgb(49, 49, 49);
  --border-shadow-color: rgb(41, 41, 41);
  --body-background: rgb(241, 241, 241);
  --correct-answer-box-shadow: rgb(0, 172, 77);
  --bookmark-color: rgb(255, 128, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, "Arial Narrow", Arial, sans-serif, Courier, monospace;
  background-color: var(--body-background);
}

.body--dark-mode {
  background-color: var(--border-shadow-color);
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--tertiary-color);
}

@media (max-width: 600px) {
  :root {
    font-size: small;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: xx-small;
  }
}
