header {
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  padding: 30px;
  box-shadow: 0 0 20px 1px var(--border-shadow-color);
}

.header--dark-mode {
  color: var(--secondary-color);
  background-color: var(--border-shadow-color);
  box-shadow: 0 0 20px 1px var(--body-background);
}
