nav {
  position: fixed;
  bottom: 0px;
  width: 100%;

  padding: 30px;

  margin: auto;
  background: linear-gradient(
    41deg,
    var(--tertiary-color) 0%,
    var(--primary-color) 30%,
    var(--primary-color) 70%,
    var(--tertiary-color) 100%
  );
  border-radius: 0px;
  box-shadow: 0px 0px 10px 5px var(--border-shadow-color);
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-items i {
  border: 1px solid transparent;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
}

.nav-items i:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.nav-items .current-page {
  box-shadow: 0 0 10px 5px var(--tertiary-color);
  color: var(--tertiary-color);
}
