.question-card {
  width: 500px;
  height: auto;
  background-color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 5px 5px 25px 5px var(--tertiary-color);
  padding: 40px 20px 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  position: relative;
}

.question-card__question {
  font-size: 150%;
  text-align: center;
}

/* Answer */

.question-card__answer {
  line-height: 130%;
  display: none;

  position: absolute;
  top: 75%;
  z-index: 1;

  width: 90%;
  background-color: var(--secondary-color);
  padding: 30px;

  box-shadow: 0 0 5px 5px var(--correct-answer-box-shadow);
}

.question-card__answer-header {
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.question-card__answer-header h4 {
  text-decoration: underline;
}

.question-card__answer-header i {
  font-size: 140%;
}

/* Button */

.question-card__button {
  color: var(--secondary-color);
  padding: 20px;
  font-size: larger;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color);
}

.question-card__button:hover,
.question-card__answer--shown .question-card__button {
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.question-card__answer--shown .question-card__button:hover {
  /* color: rgba(20, 80, 112, 1); */
  background-color: var(--primary-color);
}

/* Card - Answer opened */

.question-card__answer--shown > .question-card__answer {
  display: block;
}

/* Tag-list */

.question-card__tag-list {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  list-style: none;
}

.question-card__tag-list li::before {
  content: "#";
}

.question-card__tag-list li {
  padding: 10px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-weight: lighter;
  border-radius: 5px;
}

/* Bookmark Icon */

.question-card__bookmark {
  font-size: 40px;
  color: var(--tertiary-color);

  position: absolute;

  top: -10px;
  right: 30px;
}

.question-card__bookmark:hover {
  cursor: pointer;
  text-shadow: 0px 0px 40px var(--bookmark-color);
}

.question-card__bookmark--active {
  color: var(--bookmark-color);
}

.question-card__bookmark--active:hover {
  color: var(--bookmark-color);
  text-shadow: 0px 0px 40px var(--tertiary-color);
}

/* Dark-Mode */

.question-card--dark-mode {
  color: var(--secondary-color);
  background-color: var(--border-shadow-color);
  border: 2px solid var(--body-background);
}

.question-card__bookmark--dark-mode {
  color: var(--body-background);
}

.question-card__answer--dark-mode {
  background-color: var(--tertiary-color);
}

/* Responsive */

@media (max-width: 600px) {
  .question-card__bookmark {
    font-size: 30px;
  }

  .question-card {
    padding: 10px;
    padding-top: 25px;
    border-radius: 10px;
  }

  .question-card__answer {
    padding: 15px;
  }

  .question-card__tag-list li {
    padding: 5px;
  }

  .question-card__button {
    padding: 10px;
    font-size: 1.1em;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: xx-small;
  }

  .question-card__answer {
    padding: 15px;
    font-size: 1.2em;
  }
}
