form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.form__input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.form__input-container label {
  margin-bottom: 5px;
  font-size: 1.3rem;
}

label:hover {
  cursor: pointer;
}

input[type="text"],
textarea {
  padding: 10px;
  font-family: sans-serif, "Arial Narrow", Arial, sans-serif, Courier, monospace;
}

input[type="text"]:focus,
textarea:focus {
  border-color: var(--primary-color);
  background-color: var(--body-background);
}

button[type="submit"] {
  width: 200px;
  align-self: center;
}

@media (max-width: 600px) {
  button[type="submit"] {
    width: 150px;
  }
}

@media (max-width: 400px) {
  button[type="submit"] {
    width: 100px;
  }
}
