:root {
  --primary-color: rgb(20, 80, 112);
  --secondary-color: white;
  --tertiary-color: rgb(49, 49, 49);
  --border-shadow-color: rgb(41, 41, 41);
  --body-background: rgb(241, 241, 241);
  --correct-answer-box-shadow: rgb(0, 172, 77);
  --bookmark-color: rgb(255, 128, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, "Arial Narrow", Arial, sans-serif, Courier, monospace;
  background-color: var(--body-background);
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--tertiary-color);
}

button {
  color: var(--secondary-color);
  padding: 20px;
  font-size: larger;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color);
}

button:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
}

@media (max-width: 600px) {
  :root {
    font-size: small;
  }

  button {
    padding: 10px;
    font-size: 1.1em;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: xx-small;
  }
}
