nav {
  position: fixed;
  bottom: 0px;
  width: 100%;

  padding: 15px;

  margin: auto;
  background: linear-gradient(
    41deg,
    var(--tertiary-color) 0%,
    var(--primary-color) 30%,
    var(--primary-color) 70%,
    var(--tertiary-color) 100%
  );
  border-radius: 0px;
  box-shadow: 0px 0px 10px 5px var(--border-shadow-color);
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__list i {
  border: 1px solid transparent;
  font-size: 1.6rem;
  padding: 10px 20px;
  border-radius: 50px;
}

.nav__list i:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.nav__list .current-page {
  box-shadow: 0 0 10px 5px var(--tertiary-color);
  color: var(--tertiary-color);
}

/* Responsive */

@media (max-width: 600px) {
  nav {
    padding: 10px;
  }

  .nav__list i {
    border: 1px solid transparent;
    font-size: 1.6rem;
    padding: 5px 15px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: xx-small;
  }
}
